@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans:wght@500;800&display=swap');

body {
  font-family: "Open Sans", sans-serif;
}

.appTitle {
  font-family: 'Alegreya Sans', sans-serif;
  font-weight:bolder;
  color: #3a3c41
}

.logo {
  border-radius: 20px;
  border: 2px solid #aeadb3
}

.tabBtn {
  background-color:#9a93b8 ;
}

.card-title {
  font-size: 1.5rem;
  color: white;
  background-color: rgba(0, 0, 0, 0.5);}
  
.tab-card-header {
    background-color:#cac8df ;

}
.jumbotron {
    background-image:linear-gradient( #e8e7f0,#dad9e4,#e5e4ee);
  }
.navbar {
  background-image: linear-gradient(#e5e4ee, white);
}

.carouselButton {
  position: absolute;
  top: 10%;
  right: 10%;
  z-index:12;
}

.app-footer {
  background-image: linear-gradient(white,#dad9e4);
  height: 100px;
  width: 100%;
  margin-bottom:0;
  margin-top:100px
}

